* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.gray {
    color: #918E9B;
    padding: 0 1px;
}

.bold {
    font-weight: bold;
}

section {
    padding: 3% 5% 0 5%;
}


/* NAV */
.nav-items {
    display: flex;
    align-items: center;
    height: 70px;
    padding: 10px 20px;
    box-shadow: 2px 2px 2px 1px rgb(0,0,0,0.2);
}

.nav-logo {
    max-height: 100%;
    margin-left: 5px;
    margin-right: 15px;
}

.nav-text {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
    color: black;
}

a.nav-text  {
    text-decoration: none;
}

.nav-links {
    display: flex;
    gap: 10px;
    margin-left: auto;
}


/* MAIN */
.hero {
    display: flex;
    flex-direction: column;

}

.hero-montage {
    padding: 10px 10px 3% 10px;
    width: 70%;
    align-self: center;
}

.hero-header {
    margin-bottom: 16px;
}

.hero-text {
    margin-top: 0;
}


/* CARDS */

.cards-list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 5%;
}

.card {
    width: 25%;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    position: relative;
}

.card-image {
    width: 100%;
    border-radius: 10px;
}

.card-image-container:hover {
    filter: brightness(70%);
}
  
.card-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-details > p {
    margin: 3px;
}

.card-stats {
    display: flex;
    align-items: center;
}

.card-star {
    height: 14px;
}

.card-badge {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 5px;
    font-weight: bold;
}

/* BOTTOM SUBSCRIBE AND DETAILS */
.subbox {
    padding: 5%;
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.6rem;
    max-width: 400px;
}

.subbox-label {
    font-size: large;
}

.subbox-input {
    text-align: center;
    font-family: "Poppins", sans-serif;
    border: 1px solid #D5D4D8;
    font-size: medium;
}

.subbox-button {
    font-family: "Poppins", sans-serif;
    font-size: medium;
    background-color: black;
    color: white;
    border-radius: 5px;
}

/* SignUp */
.form-container {
    /* background-color: #639; */
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    padding-top: 20px;
    margin-top: 30px;
}

.form-signup {
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    border-radius: 5px;
    background: white;
    max-height: 100%;

}

.signup-input {
    font-family: "Poppins", sans-serif;
    border: 1px solid #D5D4D8;
    border-radius: 4px;
    border: 1px solid gray;
    font-size: 14px;
    text-indent: 5px;
    width: 100%;
    height: 40px;
}

.signup-button {
    font-family: "Poppins", sans-serif;
    font-size: medium;
    background-color: black;
    color: white;
    border-radius: 5px;
    width: 40%;
}

.signup-sub-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.signup-sub-container > input {
    margin-right: 10px;
}

/* SHIRTS PAGE */
.shirt-container {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: center;
}

.shirtcard-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-bottom: 5%;
    position: relative;
}

.shirtcard-img {
    width: 100%;
    border-radius: 5px;
}

.shirtcard-details {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shirtcard-brand {
    font-size: 19px;
    font-weight: bold;
}

.shirtcard-details > p {
    margin: 4px;
}

.shirtcard-badge {
    position: absolute;
    font-size: 1.1rem;
    top: 10px;
    left: 10px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 5px;
    font-weight: bold;
}

/* FOOTER */
.footer {
    text-align: center;
}

