/* PRESETS */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.gray {
    color: #918E9B;
    padding: 0 1px;
}

.bold {
    font-weight: bold;
}

section {
    padding: 3% 5% 0 5%;
}

/* APP */
.app {
    min-height: calc(95vh - 128px);
    
}

h1 {
    font-weight: 700;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 20px;
}
h2 {
    margin-top: 0;
    font-weight: 700;
}
h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 700;
}


/* NAV */
.nav-items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: 4rem;
    padding: 10px 20px;
    box-shadow: 2px 2px 2px 1px rgb(0,0,0,0.2);
}

.nav-logo {
    max-height: 3rem;
    margin-left: 5px;
    margin-right: 15px;
}

.nav-text {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.7rem;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
}

a.nav-text  {
    text-decoration: none;
}

.nav-links {
    display: flex;
    gap: 10px;
    margin-left: auto;
    align-items: center;
}

.nav-links > a {
    text-decoration: none;
    color: black;
}

.nav-links > a:hover {
    text-decoration: underline;
}

.nav-links-img-container {
    height: 25px;
    padding-left: 5px;
}

.nav-links-img-container > img:hover, .nav-links-cart-button > img:hover {
    transform: scale(1.2);
}

.nav-links-img {
    height: 100%
}

.nav-links-cart-button {
    height: 27px;
    padding-left: 5px;
    background-color: white;
    border: none;
}


/* MAIN */
.hero {
    display: flex;
    flex-direction: column;

}

.hero-montage {
    padding: 10px 10px 3% 10px;
    width: 80%;
    max-width: 1050px;
    align-self: center;
}

.hero-header {
    margin-bottom: 16px;
}

.hero-text {
    margin-top: 0;
}


/* CARDS */

.cards-list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 5%;
}

.card {
    width: 25%;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    position: relative;
    border: none;
    /* align-items: center; */
}

.card:hover .card-image-container {
    filter: brightness(70%);
}

.card-image {
    width: 100%;
    border-radius: 10px;
}


.card > a {
    color: black;
    text-decoration: none;
}

.card > a:hover {
    text-decoration: underline;
}
  
.card-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-details > p {
    margin: 3px;
}

.card-stats {
    display: flex;
    align-items: center;
}

.card-star {
    height: 14px;
}

.card-badge {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 5px;
    font-weight: bold;
}

/* BOTTOM SUBSCRIBE AND DETAILS */
.subbox {
    padding: 5%;
    padding-bottom: 0%;
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.6rem;
    max-width: 400px;
}

.subbox-label {
    font-size: large;
}

.subbox-input {
    text-align: center;
    font-family: "Poppins", sans-serif;
    border: 1px solid #D5D4D8;
    font-size: medium;
}

.subbox-button {
    font-family: "Poppins", sans-serif;
    font-size: medium;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* SignUp */
.form-container {
    /* background-color: #639; */
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 80vh;
    padding: 30px 30px;
}


.form-signup {
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    border-radius: 5px;
    background: white;
    min-height: 22rem;
}

.signup-input {
    font-family: "Poppins", sans-serif;
    border: 1px solid #D5D4D8;
    border-radius: 4px;
    border: 1px solid gray;
    font-size: 14px;
    text-indent: 5px;
    width: 100%;
    height: 40px;
}

.signup-button {
    font-family: "Poppins", sans-serif;
    font-size: medium;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 0.1rem 1rem;
    min-width: 50%;
    cursor: pointer;
}

.signup-button:hover {
    background-color: grey;
}

.signup-button:disabled {
    background-color: grey;
    cursor: not-allowed;
}

.signup-sub-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.signup-sub-container > input {
    margin-right: 10px;
}

.form-bottom-text {
    margin-top: 1rem;
}

/* Login */
.form-login {
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
    margin: 0 2rem;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    border-radius: 5px;
    background: white;
    min-height: 12rem;
}

.login-text {
    color: #cc0000;
}

/* SHIRTS PAGE */
.shirt-main-content {
    padding-top: 30px;
    text-align: center;
}

.shirt-container {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: flex-start;
}

.shirt-filters-container {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.shirt-genre-button {
    padding: 7px 20px;
    font-style: normal;
    font-size: 15px; 
    font-weight: 500;
    color: black;
    background-color: white;
    text-decoration: none;
    border-radius: 30px; 
    border: 1px solid #D8D8D8;
    cursor: pointer;
}

.shirt-genre-button:hover, .shirt-genre-button.selected {
    background-color: #E8E8E8;
}

.shirt-genre-button.clear-filters-button {
    border: none;
}

.shirtcard-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-bottom: 5%;
    position: relative;
}

.shirtcard-container a {
    color: black;
    text-decoration: none;
}

.shirtcard-container a:hover {
    text-decoration: underline;
}

.shirtcard-img {
    width: 100%;
    border-radius: 5px;
}

.shirtcard-details {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shirtcard-brand {
    font-size: 19px;
    font-weight: bold;
}

.shirtcard-details > p {
    margin: 4px;
}

.shirtcard-badge {
    position: absolute;
    font-size: 1.1rem;
    top: 10px;
    left: 10px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 5px;
    font-weight: bold;
}

/* SHIRT DETAILS PAGES */
.shirt-hero-container {
    padding-top: 1.5%;
    padding-left: 4%;
    padding-right: 4%;
}

.back-button {
    display: inline-block;
    color: black;
    text-decoration: none;
}

.back-button:hover {
    text-decoration: underline;
}

.shirt-detail-img-container {
    margin-top: 4.5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.shirt-details-container {
    padding-left: 5%;
    width: 42%;
    
}

.shirt-hero-img-container {
    width: 53%;
    min-width: 350px;
    max-width: 700px;
}

.shirt-hero-img {
    width: 100%;
}

.shirt-details-name {
    font-size: 40px;
}
.shirt-details-price {
    font-size: 20px;
}

.shirt-details-price-info {
    font-size: 15px;
}

.shirt-details-size-btn {
    cursor: pointer;
    background-color: black;
    color: white;
    font-size: 15px;
    padding: 6px 12px;
    border-radius: 16px;
}

.shirt-quanitity-container {
    width: 120px;
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    align-items: center;
    padding: 4px 2px;
}

.shirt-quantity-button {
    cursor: pointer;
    background-color: white;
    font-size: 25px;
    border: 0px;
}


/* .shirt-quantity-count {

} */

.shirt-cart-button {
    border: 1px solid black;
    cursor: pointer;
    background-color: white;
    font-size: 15px;
    width: 100%;
    padding: 12px 0px;
}

/* SHIRT PAGES - SHIRT DESCRIPTION */
.shirt-details-description-container {
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    
}
.shirt-description-button {
    padding: 12px;
    background-color: white;
    cursor: pointer;
    border-width: 0 0 1px 0;
    border-color: #DCDCDC;
    border-bottom-style: solid;
    font-size: 15px;
}


/* User Profile */
.user-profile-nav {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
}

.user-profile-nav a {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 500;
    padding: 5px 20px;
}

.user-profile-nav a:hover {
    color: #161616;
    text-decoration: underline;
    font-weight: 600;
}

/* Shopping Cart */
/* .cart-item-card-container {
    background-color: black;
} */

.cart-header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 460%;
    border-bottom: 2px solid grey;
    padding: 0 0 10px 0;
}

.cart-text {
    margin-bottom: 0;
}

.close-button  {
    width: 3px;
    height: 3px;
    background-size: auto;
}

.cart-item-img {
    width: 125px;
    object-fit: cover;
}

.cart-item-description-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 125px;
    justify-content: space-between;
}

.cart-item-description-text {
    font-size: 16px;
    margin-top: 0px;
    
}

.cart-item-description-text.title {
    font-weight: 500;
}

.cart-item-description-text.subtitle {
    font-weight: 400;
}

.cart-item-description-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}


.cart-item-quanitity-container {
    width: 100px;
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    align-items: center;
    padding: 1px 2px;
}

.cart-item-quantity-button {
    cursor: pointer;
    background-color: white;
    font-size: 20px;
    border: 0px;
}

.cart-item-remove-button {
    background-color: white;
    border: none;
    color: grey;
    border-bottom: 1px 
}

.cart-item-remove-button:hover {
    
}

/* Page Not Found */
.page-not-found-container {
    padding: 3% 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.pnf-return-button {
    padding: 7px 15px;
    text-decoration: none;
    font-size: medium;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.pnf-return-button:hover {
    background-color: #4D4D4D;
}

/* Error Page */
.error-page-container {
    padding: 3% 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: calc(100vh - 120px);
}

/* FOOTER */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    padding-bottom: 3px;
    height: 5%;
    padding-top: 5vh;
}

